@using WOM.Models;
@using WOM.Client.ViewModels;

@inject WorkOutViewModel ViewModel

<h2>Work Out List</h2>
<p>
    Show Completed:
    <input type="checkbox" @bind-value="ViewModel.ShowCompleted" />
</p>
<p>
    Sort By Created:
    <input type="checkbox" @bind-value="ViewModel.SortByCreated" />
</p>
@if (ViewModel.ShowCompleted && !ViewModel.SortByCreated)
{
    <p>
        Completed then Created
        <input type="checkbox" @bind-value="ViewModel.SortByCompleted" />
    </p>
}
<p>Enter new item:</p>
@if (ViewModel.ValidationHasErrors)
{
    <WorkOutErrors Errors="@ViewModel.Errors" />
}
<p>
    <input name="newItem" type="text"
           @ref="InputBox"
           @attributes="inputattributes"
           @bind-value="ViewModel.NewDescription"
           @bind-value:event="oninput" />&nbsp;
    <button @attributes="btnattributes"
            @onclick="@(async () => await ViewModel.AddNewAsync())">
        Add
    </button>
</p>
@if (workOuts == null || ViewModel.Loading)
{
    <p><strong>Loading...</strong></p>
}
else
{
    @foreach (var workOut in workOuts)
    {
        <hr />
        <WorkOutShow CurrentItem="@workOut" Markcomplete="@(async () => await ViewModel.MarkdoneAsync(workOut))"
                     Delete="@(async () => await ViewModel.DeleteAsync(workOut))" />
    }
}

@code {
    public ElementReference InputBox;
    public List<WorkOut> workOuts;
    public Dictionary<string, object> btnattributes = new Dictionary<string, object>()
{
        {"disabled", ""}
    };

    public Dictionary<string, object> inputattributes = new Dictionary<string, object>()
{
        {"class", "alert-danger"}
    };

    protected override async Task OnInitializedAsync()
    {
        workOuts = (await ViewModel.WorkOutsAsync()).ToList();
        ViewModel.NewDescription = string.Empty;
        ViewModel.PropertyChanged += async (o, e) =>
        {
            CheckButton();
            if (e.PropertyName.Equals(nameof(ViewModel.WorkOutsAsync)))
            {
                workOuts = (await ViewModel.WorkOutsAsync()).ToList();
            }
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        //StateHasChanged();
    };
        await base.OnInitializedAsync();
    }

    private void CheckButton()
    {
        btnattributes.Clear();
        inputattributes.Clear();
        if (ViewModel.Loading)
        {
            btnattributes.Add("disabled", "");
            inputattributes.Add("disabled", "");
        }
        else if (ViewModel.ValidationHasErrors)
        {
            btnattributes.Add("disabled", "");
            inputattributes.Add("class", "alert-danger");
        }
    }
}