@page
@model SM.Website.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<hr />
<form>
    <div class="row">
        <div class="col-md-2">
            <input type="text" name="studentName" class="form-control" placeholder="First name" value="@Model.StudentName" />
        </div>
        <div class="col-md-2">
            <select asp-for="StudentSpecialty" asp-items="@Model.Specialties" class="form-control">
                <option value="">---</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i>Search</button>
    </div>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.Student[0].FirstName"></label>
                @*@Html.DisplayNameFor(model => model.Student[0].FirstName)*@
            </th>
            <th>
                <label asp-for="@Model.Student[0].LastName"></label>
                @*@Html.DisplayNameFor(model => model.Student[0].LastName)*@
            </th>
            <th>
                <label asp-for="@Model.Student[0].FacultyNumber"></label>
                @*@Html.DisplayNameFor(model => model.Student[0].FacultyNumber)*@
            </th>
            <th>
                <label asp-for="@Model.Student[0].SpecialtyId"></label>
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Student.Count; i++)
        {
            <tr>
                <td>
                    @Model.Student[i].FirstName
                    @*@Html.DisplayFor(modelItem => item.FirstName)*@
                </td>
                <td>
                    @Model.Student[i].LastName
                    @*@Html.DisplayFor(modelItem => item.LastName)*@
                </td>
                <td>
                    @Model.Student[i].FacultyNumber
                    @*@Html.DisplayFor(modelItem => item.FacultyNumber)*@
                </td>
                <td>
                    @Model.Student[i].Specialty.Name
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@Model.Student[i].Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@Model.Student[i].Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@Model.Student[i].Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
