@page
@model SM.Website.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.Student[0].FirstName"></label>
                @*@Html.DisplayNameFor(model => model.Student[0].FirstName)*@
            </th>
            <th>
                <label asp-for="@Model.Student[0].LastName"></label>
                @*@Html.DisplayNameFor(model => model.Student[0].LastName)*@
            </th>
            <th>
                <label asp-for="@Model.Student[0].FacultyNumber"></label>
                @*@Html.DisplayNameFor(model => model.Student[0].FacultyNumber)*@
            </th>
            <th>
                <label asp-for="@Model.Student[0].SpecialtyId"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Student.Count; i++)
        {
        <tr>
            <td>
                @Model.Student[i].FirstName
                @*@Html.DisplayFor(modelItem => item.FirstName)*@
            </td>
            <td>
                @Model.Student[i].LastName
                @*@Html.DisplayFor(modelItem => item.LastName)*@
            </td>
            <td>
                @Model.Student[i].FacultyNumber
                @*@Html.DisplayFor(modelItem => item.FacultyNumber)*@
            </td>
            <td>
                @Model.Student[i].Specialty.Name
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@Model.Student[i].Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@Model.Student[i].Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@Model.Student[i].Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
